.mainPage {
  background-color: #00000e;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1101px) {
  .mainPage {
    flex-wrap: wrap;
  }
}

.main_list {
  margin: 100px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.main_list li {
  margin: 1vh 1vw;
}
@media (max-width: 767px) {
  .main_list li {
    max-width: 370px;
    width: 100%;
    justify-content: center;
  }
}